# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Local Config
config.json

# User Data
data/
*.json
!sample_data/*.json

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Virtual Environment
venv/
env/
